.carousel-container {
  overflow-x: hidden;
  height: 440px;
}

.movie-slider {
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .movie-slider {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 464px) {
  .movie-slider {
    padding-left: 4px;
    padding-right: 4px;
  }
}