.custom-hover-button {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.custom-hover-button:hover {
  color: white !important;
  background-color: rgba(0, 86, 179, 0.1);
  text-decoration: underline;
  cursor: pointer;
}

.custom-modal .modal-content {
  background-color: black;
  color: white;
  border: 1px solid #dee2e6;
}

.custom-border {
  border: 2px solid dimgray;
}

.cast-show-button,
.review-show-button {
  color: darkgray !important;
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.4),
      0 0 15px 7px rgba(255, 255, 255, 0.3);
  }

  50% {
    box-shadow: 0 0 12px 6px rgba(255, 255, 255, 0.7),
      0 0 20px 10px rgba(255, 255, 255, 0.5);
  }
}

.custom-border:hover,
.cast-img:hover {
  animation: glow 2s ease-in-out infinite alternate;
  transition: box-shadow 1s ease;
}

.cast-show-button:hover,
.review-show-button:hover {
  color: white !important;
  transition: all .3s ease !important;
}

.custom-table th,
.custom-table td {
  padding: 10px 10px !important;
}

.carousel-item {
  border-radius: 8px;
  overflow: hidden !important;
}

.custom-table th,
.custom-table td {
  vertical-align: middle;
}