html, body, #root {
  height: 100%;
  margin: 0;
}

.profile-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  padding: 0 20px;
}

.who {
  font-size: 40px;
  font-weight: 500;
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
}

.profiles {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.profile-item {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-item:hover .profile-button img {
  border-color: white;
}

.profile-item:hover .profile-label {
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.profile-label {
  margin-top: 8px;
  font-weight: bold;
  color: lightgray;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-label:hover {
  color: white;
}

.profile-button {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  transition: background-color 0.3s ease;
  overflow: hidden;
}


.profile-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid transparent;
  display: block;
  margin: 0;
  padding: 0;
}

.add-profile-button {
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid transparent;
  overflow: visible;
}

.add-profile-button:hover {
  border: 2px solid white;
}

.manage-profiles-button {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  background-color: #222;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.manage-profiles-button:hover {
  background-color: #444;
  border: 2px solid white;
}