body {
  background-color: #000 !important;
  color: #fff;
  overflow-x: hidden;
}

.appLayout {
  background-color: #000;
  color: #fff;
}

.nav-link {
  transition: color 0.4s ease-in-out !important;
  font-weight: 600 !important;
}

.nav-link:hover {
  color: #fff !important;
}

.nav-search-input:focus {
  border-color: rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25) !important;
  transition: all 0.4s ease;
}

.nav-search-btn.btn-primary {
  background-color: black;
  border-color: rgba(73, 80, 87);
  color: #8c8c8c;
}

.nav-search-btn.btn-primary:hover {
  background-color: #eb1a18 !important;
  border-color: #eb1a18 !important;
  transition: all 0.4s ease-in-out;
}