.movie-card {
  width: 250px;
  height: 350px;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
}

.overlay {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(43, 41, 41, 0.7);
  opacity: 0;
  transition: all 0.7s;
  color: white;
  font-weight: bold;
  overflow-wrap: break-word;
  padding: 18px;
  font-size: small;
}

.overlay:hover {
  opacity: 1;
}

.movie-card:hover {
  transform: scale(1.3) translateZ(20px);
  z-index: 2;
}

.genre-badge {
  margin-right: 8px;
  margin-bottom: 4px;
}

.overview {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  font-weight: 400;
  margin-top: 10px;
}

.movie-card-button-group {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.movie-card-button {
  background-color: rgba(51, 51, 51, 0.6);
  border: none;
  color: white;
  padding: 5px 7px;
  font-weight: 600;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.movie-card-button:hover {
  background-color: rgba(109, 109, 110, 0.8);
}